@import "node_modules/bootstrap/scss/bootstrap";

/* Bootstrap variables override */
$theme-colors: (
  "darklight": $gray-700,
);

// Add new theme-colors as backgrounds
@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

.map {
  display: block;
  min-height: 400px;
}

.full-map {
  height: calc(100vh - 56px - 60px);
}

#photo > img {
  max-height: 88vh;
}

.previous-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  opacity: 0;
}

.next-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 100%;
  width: 50%;
  opacity: 0;
}

.previous-image-help-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  opacity: 0.5;
  background-color: #222;
}

.next-image-help-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 100%;
  width: 50%;
  opacity: 0.5;
  background-color: #000;
}

.center-image-on-help-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.image-album-container {
  display: inline-block;
  position: relative;
}

.image-album-container img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.image-album-container h4 {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  color: white;
  //font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

/* Logo
-------------------------------------------------- */
.flexiday-logo {
  display: block;
  text-indent: -9999px;
  width: 160px;
  height: 40px;
  background-size: 160px 40px;
  background: url("./images/hugin_white.svg") no-repeat;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/* Flexbin
-------------------------------------------------- */
// Desktop, large screen devices
$flexbin-row-height: 200px; // height of image rows
$flexbin-space: 0px; // space between images

// Tablet, medium screen devices
$flexbin-tablet-max: 800px;
$flexbin-row-height-tablet: 150px;
$flexbin-space-tablet: 0px;

// Phone, small screen devices
$flexbin-phone-max: 400px;
$flexbin-row-height-phone: 100px;
$flexbin-space-phone: 0px;

/* Slideshow notifications
-------------------------------------------------- */
.notification {
  position: fixed;
  width: 320px;
  min-height: 56px;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background: #363636;
  z-index: 1056;
  transition: opacity 900ms ease-out, top 800ms ease;
}
.notification:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  content: "";
  width: 4px;
  border-radius: 4px 0 0 4px;
}
.notification-body {
  display: flex;
  align-items: center;
  padding: 13px 25px;
  min-height: 56px;
}
.notification-title {
  font-size: 18px;
  color: #fff;
  margin-top: -2px;
  font-weight: 600;
}
.notification-desc {
  color: #fff;
}
.notification-title + .notification-desc {
  color: rgba(255, 255, 255, 0.8);
}
.notification-default:before {
  background: #b2b2b2;
}
.notification-default .notification-progress {
  background: rgba(178, 178, 178, 0.15);
}
.notification-default .notification-progress-bar {
  background: rgba(178, 178, 178, 0.3);
}

@import "../node_modules/flexbin/flexbin.scss";
